Create database ManagementStudent;
go
use ManagementStudent;
go
--Tạo bảng lớp học
Create table  Class
(
	ClassId int identity(1,1) primary key,
	ClassName varchar(10) unique not null
)
go
--Tạo bảng môn học
Create table [Subject]
(
	SubjectId varchar(6) primary key,
	SubjectName nvarchar(100) not null,
	Hours int default 0
)
go
--Tạo bảng Sinh viên
Create table Student
(
	StudentId char(5) primary key,
	ClassId int foreign key references Class(ClassId),
	FirstName nvarchar(25) not null,
	LastName nvarchar(10) not null,
	[Address] nvarchar(100),
	BirthDay datetime,
	Gender bit,
	Phone varchar(12)
)
go
--Tạo bảng điểm
Create table Result
(
	StudentId char(5) foreign key references [Student](StudentId),
	SubjectId varchar(6) foreign key references [Subject](Subjectid),
	Mark float Check(Mark>=0 and Mark<=25),
	primary key(SubjectId,StudentId)
)
go
--Tạo bảng
Create table StudentGrant
(
	StudentId char(5) foreign key references Student(StudentId),
	SubjectId varchar(6) foreign key references [Subject](SubjectId),
	Amount float,
	Primary key(StudentId,SubjectId)	
)
--Thêm dữ liệu cho bảng lớp
Insert into Class(ClassName) values('T0709H1')
Insert into Class(ClassName) values('T0709H4')
Insert into Class(ClassName) values('T0709H7')
--Thêm dữ liệu cho bảng môn học
Insert into [Subject] values('CF',N'Computer Foundation',16)
Insert into [Subject] values('EPC',N'Elementary Programming C',30)
Insert into [Subject] values('HDJ',N'HTML, DHTML and JavaScript',30)
--Thêm dữ liệu vào bảng Sinh viên
Insert into Student values('B0001',1,N'Hoàng Văn',N'Mạnh',N'Hà Nội','2/13/1988',1,'098789768')
Insert into Student values('B0002',1,N'Nguyễn Thùy',N'Dung',N'Quảng Ninh','6/23/1989',0,'0123987567')
Insert into Student values('B0003',1,N'Lê Văn',N'Nam',N'Hà Nội','3/24/1990',1,'0123788766')
--Thêm dữ liệu vào bảng điểm
Insert into Result values('B0001','CF',12)
Insert into Result values('B0001','EPC',12.5)
Insert into Result values('B0001','HDJ',22.5)
--Cập nhật bảng học bổng
Insert into StudentGrant(StudentId,SubjectId,Amount) select StudentId,SubjectId,100 from Result where Mark>=22.5
Go
Select * from StudentGrant

